{% extends "base.html" %}

{% block announce %}
<div class="scroll-banner">
  <p>🚀 New Features added ‎ ‎ ‎ ‎: 
    ‎ ‎ ‎ ‎
    Discussion page for suggestions
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Examples of CIVIL NX Tutorials
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Tapered PSC Value Sections
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Design Parameters for PSC Value Section
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Line to Plate conversion
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Results Table
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
     </p>
</div>
{% endblock %}      