{% extends "base.html" %}

{% block announce %}
<div class="scroll-banner">
  <p>🚀 New Features added ‎ ‎ ‎ ‎: 
    ‎ ‎ ‎ ‎
    Discussion page for suggestions
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Polyline and Spline for Beam - Element.Beam.PLine
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Polyline with Offset options - Element.Beam.PLine2
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Alignment defintion and Alignment update
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Line to Plate conversion
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
    Results Table
    ‎ ‎ ‎ ‎ ‎ ‎|‎ ‎ ‎ ‎ ‎ ‎
     </p>
</div>
{% endblock %}      